*,
*::after,
*::before{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding:0;
  font-family: "Barlow";
  background: #F2F2F2;
  width: 100%;
}


a{
  text-decoration: none;
}
img{
  max-width: 100%;
}