.footer{
  background-color: #2C343E;
}
.footer__container{
  display: flex;  
  margin-top: 120px;
  padding: 47px 0px;
}
// .footer__logo{
//   margin-left: 85px;
// }
.footer__nav__list{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  margin-left: 190px;
}
.footer__nav__item{
  margin-right: 32px;
}
.footer__nav__item:last-child{
  margin-right: 0px;
}
.footer__nav__link{
  font-family: "Barlow";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}
.footer__social{
  margin-left: auto;
  display: flex;
}
.footer__link{
  margin-right: -66px;
}
.footer__link:last-child{
  margin-right: 0px;
}


@media screen and (max-width: 1280px){
  .footer__container{
    margin: 0px auto;
    display: flex;
    flex-direction: column;  
    margin-top: 120px;
    padding: 47px 0px;
    align-items: center;
  }
  .footer__logotip{
    width: 203px;
  }
  .footer__nav__list{
    margin: 32px auto;
    width: 283px;
  }
  .footer__social{
    margin: 0px auto;
    margin-top: 33px;
  }
  .footer__nav__item{
    margin-right: 30px;
  }
    
  
}




@media screen and (max-width: 659px){
  .footer__nav__list{
    display: block;
    text-align: center;
    margin: 32px auto;
    width: 130px;
  }
  .footer__nav__item{
    margin: 24px auto;
  }
  
}
  
 
