.intro{
  margin: 0 auto;
  padding: 0;
  padding-top: 31px;
  margin-top: 49px;
  background: url("./../../img/Bitmap.png")no-repeat;
  background-position: center center;
  background-size: cover;
  height: 600px;
  max-width: 1280px;
}
.intro__title{
  width: 493px;
  margin: 128.27px 754px 32px 10px;
  height: 145px;  
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  display: block;
}
.intro__text{
  margin-left: 10px;
  width: 445px;
  height: 78px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-bottom: 56px;
}


@media screen and (max-width:1280px){
  .intro__title{
  font-size: 48px;
  line-height: 48px;
  }
  .intro__text{
  font-size: 15px;
  line-height: 25px;
  }
}
@media screen and (max-width:659px){
  .intro__title{
    
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
  .intro__text{
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}