.main-link{
  margin-left: 10px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  padding: 15px 31px 16px;
  background: #0E8784;
  border-radius: 6px;
}
.main-link:last-child{
  margin-left: 0px;
}
@media screen and (max-width:659px){


}