.work-sequence__container{
  max-width: 1105px;
  margin: 0px auto;
}
.work-sequence{
margin-top: 312px;
}
.work-sequence__subject{
font-family: "Fraunces";
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
color: #83888F;
margin-bottom: 80px;
}
.work-wequenced__content{
display: flex;
position: relative;

}
.work-sequence__span{
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  box-sizing: border-box;
  margin-right: 350px;

}
.work-sequence__span:last-child{
  margin-right: 0px;
}
.work-wequenced__content::after{
  content: '';
  width: 760px;
  height: 1px;
  border: 2px solid #FDD6BA;
  position: absolute;
  top: 14px;
  left: 28px;
  z-index: -1;
  background:  #FDD6BA;
  
}
.work-sequence__list{
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 67px;
  margin-bottom: 54px;
}
.work-sequence__list-item{
  margin-right: 95px;
  max-width: 285px;
}
.work-sequence__list-item:last-child{
margin-right: 0px;
}
.work-sequence__list-item--01::before{
  content: '01';
  display: block;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}
.work-sequence__list-item--02::before{
  content: '02';
  display: block;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}
.work-sequence__list-item--03::before{
  content: '03';
  display: block;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}



.work-secuence__title{
font-family: "Fraunces";
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 36px;
color: #333D4B;
width: 255px;
height: 73px;
}
.work-sequence__text{
font-family: "Barlow";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #333D4B;
}





